In [1]:
%load_ext sql

In [2]:
import configparser
import psycopg2

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [4]:
DWH_DB = config.get("CLUSTER","DB_NAME")
DWH_DB_USER = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get("CLUSTER","HOST")

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
%sql $conn_string

'Connected: onuryurtsever@sparkify'

In [6]:
%sql select count(*) from songplay

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(333,)]

In [7]:
%sql select count(*) from stg_events;

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(8056,)]

In [8]:
%sql select count(*) from stg_songs;

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(14896,)]

In [9]:
%sql select count(*) from users;

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(105,)]

In [10]:
%sql select count(*) from artists;

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(10025,)]

In [11]:
%sql select count(*) from songs;

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(14896,)]

In [12]:
%sql select count(*) from time;

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
1 rows affected.

[(8023,)]

In [15]:
%sql select level, count(distinct user_id) as user_count from songplay where start_time between '2018-11-15' and '2018-11-16' group by level

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
2 rows affected.

[('free', 1), ('paid', 6)]

In [17]:
%sql select a.name as Artist, s.title as Song from songs s inner join artists a on s.artist_id=a.artist_id limit 5

 * postgresql://onuryurtsever:***@sparkify.ccpqvcyynipn.us-west-2.redshift.amazonaws.com:5439/sparkify
5 rows affected.

[('Adelitas Way', 'Scream'),
 ('Gob', 'Face the Ashes'),
 ('Chaka Khan_ Rufus', 'Take Time'),
 ('Poe', 'Walk the Walk'),
 ('Thomas Dutronc', 'China Boy')]